footer(class="footer" aria-label="footer")
  .container.container--inverse
    .footer__wrap FOOTER

  .container.container--inverse.container--borderless
    p.footer__copy !{new Date().getFullYear()} – All rights reserved – Software
