@use '../config' as *;

.animated-section {

  @include media-breakpoint-up(md) {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;

    &__hero,
    &__contact,
    &__video {
      @include flex(center, center);

      width: 100vw;
      height: 100vh;
      flex-shrink: 0;
    }
  }
}
