@use '../config' as *;

.button {
  @include flex(center, center, $display: inline-flex);
  @include font-size(20px);
  @include make-spacer(m, 0);
  @include make-spacer(px, 2);
  @include transition(#{color, border-color, background-color});

  position: relative;
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  min-height: rem(50px);
  overflow: hidden;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  color: var(--black);
  user-select: none;
  -webkit-appearance: none; // stylelint-disable-line
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--bold);

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  &--outline {
    border: 1px solid var(--black);
    color: var(--black);

    &:hover {
      color: var(--pink);
      border-color: var(--pink);
    }

    &:active {
      background-color: var(--pink-03);
    }
  }

  &--secondary {
    background-color: var(--white);

    &:hover {
      color: var(--pink);
    }

    &:active {
      background-color: var(--gray-100);
    }
  }

  &--dark {
    background-color: var(--black);
    color: var(--white);

    &:hover {
      color: var(--pink);
    }

    &:active {
      background-color: var(--black-900);
    }
  }

  &--default {
    border: 1px solid var(--white);
    color: var(--white);

    &:hover {
      color: var(--pink);
      border-color: var(--pink);
    }

    &:active {
      background-color: var(--pink-03);
    }
  }

  &--primary {
    background-color: var(--purple);
    color: var(--white);

    &:hover {
      background-color: var(--purple-dark);
    }

    &:active {
      background-color: var(--purple-light);
    }
  }

  &--lg {
    @include make-spacer(px, 5);
    @include font-size(30px);

    min-height: rem(80px);
  }

  &--md {
    @include make-spacer(px, 5);
    @include font-size(20px);

    min-height: rem(65px);
  }

  &--fluid {
    width: 100%;
  }
}
