@use '../config' as *;

.cursor {
  display: none;

  @include media-breakpoint-up(md) {
    @include size(10px);

    position: fixed;
    display: block;
    pointer-events: none;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 6;
  }
}


[data-theme="dark"] {
  .cursor {
    background-color: var(--text-color);
  }
}

[data-theme="light"] {
  .cursor {
    background-color: var(--background-color);
  }
}

