@use '../config' as *;

.dropdown {
  position: relative;

  &__menu {
    position: absolute;
    top: calc(100% + #{rem(32px)});
    left: 0;
    display: none;

    &.dropdown-active {
      display: block;
    }
  }
}
