@use '../config' as *;

.dropdown {
  position: relative;

  &__menu {
    position: absolute;
    top: calc(100% + #{rem(16px)});
    left: -16px;
    display: none;

    @include media-breakpoint-up(md) {
      left: 0;
    }

    &.dropdown-active {
      display: block;
    }
  }

  &__button {
    @include flex;
  }

  &__icon {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      position: relative;
      margin-left: 10px;
      pointer-events: none;
    }
  }

  &.dropdown-open {

    .dropdown {

      &__icon {
        transform: rotateZ(180deg);
      }
    }
  }
}
