@use '../config' as *;

.dropdown-list {
  background-color: var(--text-color);
  border-radius: rem(6px);
  width: rem(68px);
  text-align: center;
  padding: rem(12px) 0;

  &__link {
    display: block;
    width: 100%;
    color: var(--background-color);
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.6;
    padding: rem(6px);

    &.is-active {
      opacity: 1;
    }
  }
}
