@use '../config' as *;

.footer {
  @include make-spacer(mt, 'auto');

  @include media-breakpoint-up(md) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__body {
    @include make-spacer(py, 4);
    @include font-size(14px);

    text-align: center;

    @include media-breakpoint-up(md) {
      @include flex(space-between, center);
    }

    @include media-breakpoint-up(xxl) {
      @include font-size(16px);
    }
  }

  &__social {
    @include make-spacer(mb, 4);
    @include make-spacer(mb, 0, md);
  }

  &__logo {
    @include flex(center, center);
    @include make-spacer(mb, 4);
    @include make-spacer(mb, 0, md);

    svg g {
      @include transition(opacity);
    }

    &:hover {
      svg g {
        opacity: 1;
      }
    }
  }

  &__left {
    @include flex(center);

    gap: 29px;

    @include media-breakpoint-up(md) {
      gap: 50px;
    }
  }

  &__right {
    @include media-breakpoint-up(md) {
      @include flex(space-between, center);

      gap: 32px;
    }
  }
}
