@use '../config' as *;

.footer {
  background-color: var(--black);
  color: var(--white);

  &__logo {
    display: inline-block;
    vertical-align: middle;
  }

  &__mail {
    font-weight: 300;
    font-size: 13px;
    color: var(--white);
    text-decoration: none;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    align-items: center;
    height: 60px;
    text-align: center;

    @include media-breakpoint-up(md) {
      height: 80px;
      grid-template-columns: 114px 1fr 114px;
    }
  }

  &__social {
    display: flex;
    gap: 16px;
    margin-left: auto;
  }
}
