@use '../config' as *;

.header {

  @include media-breakpoint-up(md) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
  }

  &__body {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-column-gap: 16px;
    align-items: center;
    height: var(--header-height);
  }

  &__lang {
    @include flex(flex-end);
    @include font-size(14px);

    @include media-breakpoint-up(xxl) {
      @include font-size(16px);
    }
  }

  &__link {
    width: rem(33px);

    > :last-child {
      left: auto;
      right: 0;
    }
  }

  &__logo {
    @include make-spacer(mx, 'auto');

    position: relative;
    width: 134px;
    max-width: 100%;

    svg {
      @include size(100%);
    }
  }
}
