@use '../config' as *;

.header {
  @include transition(background-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--black);
  z-index: 101;

  &.is-transparent {
    background-color: transparent;
  }

  &__container {
    color: var(--white);
    display: grid;
    grid-template-columns: rem(208px) 1fr rem(166px);
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 24px 0;

    @include media-breakpoint-down(md) {
      grid-template-columns: rem(100px) 1fr rem(100px);
      grid-column-gap: rem(24px);
      padding: 16px 0;
    }

    @include media-breakpoint-down(xs) {
      grid-template-columns: rem(40px) 1fr rem(100px);
    }
  }

  &__logo {
    display: block;
    position: relative;
    z-index: 1;

    svg {
      max-width: 100%;

      @include media-breakpoint-down(md) {
        @include absolute-center;

        width: 150px;
      }
    }
  }

  &__trigger {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__button {
    width: 100%;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
      width: rem(96px);
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__link {
    @include font-size(20px, 24px);

    font-weight: var(--medium);
    color: var(--white);
    text-decoration: none;
  }

  &__menu {
    margin-right: rem(90px);
  }
}
