@use '../config' as *;

.hero-section {
  @include flex;

  &__decor {
    background-color: var(--red);
    width: 68px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      width: 16px;
    }
  }

  &__content {
    padding: 24px 80px;
    border-top: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);

    @include media-breakpoint-down(md) {
      padding: 24px 40px;
    }

    @include media-breakpoint-down(sm) {
      padding: 24px;
    }
  }

  &__title,
  &__subtitle {
    font-family: var(--headings-font-family);
    margin: 0;
  }

  &__title {
    @include font-size(100px);

    font-weight: 800;
    color: var(--red);
    text-transform: uppercase;

    @include media-breakpoint-down(lg) {
      @include font-size(80px);
    }

    @include media-breakpoint-down(md) {
      @include font-size(70px);
    }

    @include media-breakpoint-down(sm) {
      @include font-size(40px);
    }
  }

  &__subtitle {
    @include font-size(45px);

    font-weight: 700;
    margin-bottom: 11px;

    @include media-breakpoint-down(lg) {
      @include font-size(38px);
    }

    @include media-breakpoint-down(md) {
      @include font-size(32px);
    }

    @include media-breakpoint-down(sm) {
      @include font-size(24px);
    }
  }

  &__text {
    @include font-size(20px, 29px);

    margin-bottom: 29px;

    &:last-child {
      margin-bottom: 0;
    }

    > b {
      @include font-size(25px, 29px);

      @include media-breakpoint-down(md) {
        @include font-size(16px, 24px);
      }

    }

    @include media-breakpoint-down(md) {
      @include font-size(16px, 24px);
    }
  }
}
