@use '../config' as *;

.history-banner {
  display: flex;

  @include media-breakpoint-down(md) {
    display: block;
  }

  &__left {
    background-color: var(--red);
    color: var(--white);
    padding: 27px 40px;

    @include media-breakpoint-down(sm) {
      padding: 16px;
    }
  }

  &__right {
    border-top: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);

    @include media-breakpoint-down(md) {
      border-top: 0;
      border-left: 1px solid var(--black);
    }
  }

  &__subtitle,
  &__title {
    font-family: 'DrukCyrBold', sans-serif;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    @include font-size(72px);

    letter-spacing: 9px;
    margin-bottom: 6px;

    @include media-breakpoint-down(lg) {
      @include font-size(48px);
    }

    @include media-breakpoint-down(sm) {
      @include font-size(38px);
    }
  }

  &__subtitle {
    @include font-size(40px);

    background-color: var(--black);
    padding: 13px;
    margin-bottom: 16px;

    > b {
      color: var(--red);

      @include media-breakpoint-down(lg) {
        @include font-size(30px);
      }

      @include media-breakpoint-down(sm) {
        @include font-size(24px);
      }
    }

    @include media-breakpoint-down(lg) {
      @include font-size(30px);
    }

    @include media-breakpoint-down(sm) {
      @include font-size(24px);
    }
  }

  &__text {
    @include font-size(20px, 25px);

    margin: 0;

    > span {
      @include font-size(25px);

      @include media-breakpoint-down(lg) {
        @include font-size(16px, 24px);
      }
    }

    @include media-breakpoint-down(lg) {
      @include font-size(16px, 24px);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    width: 530px;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}
