@use '../config' as *;

.link {
  display: block;
  position: relative;

  &::after {
    @include absolute-center;
    @include size(calc(100% + 24px));

    display: block;
    content: '';
  }

  &__wrapper {
    position: relative;
    display: block;
    overflow: hidden;

    span {
      position: relative;
      display: block;
    }

    svg {
      display: block;
    }

    > :last-child {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(100%);
    }
  }

  @include media-breakpoint-up(md) {
    &:hover {

      .link__wrapper {
        span {
          @include transition(transform);
        }
        span:last-child {
          transform: translateY(0);
        }
        span:first-child {
          transform: translateY(-100%);
        }
      }
    }
  }
}
