@use '../config' as *;

.logo-section {
  padding: 160px 0;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    padding: 360px 0;
  }

  &__image {
    margin: 0 auto;
    width: 232px;
  }

  &__wrapper {
    position: relative;

  }

  &__wave {
    position: absolute;
    top: 0;
    right: 90%;

    @include media-breakpoint-up(lg) {
      height: 63px;
      top: 50%;
      margin-top: -34px;
      right: auto;
      left: -100vw;
      background-color: red;
    }

    img {
      object-fit: cover;
      height: 50px;

      @include media-breakpoint-up(lg) {
        height: 63px;
        width: 100vw;
      }
    }
  }
}
