@use '../config' as *;

.mobile-navigation {
  @include size(100%);
  @include transition(transform);

  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100vw;
  z-index: 100;
  background: var(--black);

  &.is-opened {
    transform: translateX(100%);
  }

  &__content {
    @include flex(center, center, column, $display: grid);

    height: calc(100vh - var(--header-height) - #{rem(64px)});
    overflow-y: auto;
    padding: 20px;
    position: absolute;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__item {
    margin-bottom: 60px;
  }

  &__nav {
    @include flex($direction: column);

    text-align: center;
  }

  &__link,
  &__sublink {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
  }

  &__link {
    @include font-size(30px, 24px);

    font-weight: var(--medium);
    margin-bottom: rem(24px);
  }

  &__subitem {
    @include make-spacer(mt, 3);
  }

  &__sublink {
    @include font-size(20px, 24px);
  }

  &__socials {
    position: absolute;
    left: rem(16px);
    bottom: rem(24px);
    color: var(--white);
  }
}
