@use '../config' as *;

.section {
  margin: rem(200px) 0;

  @include media-breakpoint-down(md) {
    margin: rem(190px) 0;
  }

  @include media-breakpoint-down(sm) {
    margin: rem(150px) 0;
  }

  @include media-breakpoint-down(xs) {
    margin: rem(90px) 0;
  }
}
