@use '../config' as *;

.social {
  display: inline-block;

  &__title {
    @include make-spacer(m, 0);
    @include font-size(16px, 20px);

    font-weight: var(--medium);
  }

  &__list {
    display: grid;
    grid-row-gap: rem(16px);
    justify-content: center;
  }

  &__link {
    @include size(rem(18px));
    @include flex(center, center);
    @include transition(color);

    color: var(--white);

    &:hover {
      color: var(--purple);
    }

    svg {
      @include size(100%);
    }

    @include media-breakpoint-down(sm) {
      @include size(rem(26px));
    }
  }

  &--adaptive {
    @include flex(center, $direction: column);

    gap: rem(16px);

    @include media-breakpoint-down(sm) {
      gap: rem(50px);
      flex-direction: row;
      align-items: center;
    }

    .social {

      &__title {

        writing-mode: vertical-rl;

        @include media-breakpoint-down(sm) {
          writing-mode: horizontal-tb;
        }
      }

      &__list {
        @include media-breakpoint-down(sm) {
          @include flex;

          gap: rem(36px);
          align-items: center;
        }
      }
    }
  }

  &--black {

    .social {

      &__link {
        color: var(--black);

        &:hover {
          color: var(--purple);
        }
      }
    }
  }
}
