@use '../config' as *;

.video-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: rem(60px);

  @include media-breakpoint-up(md) {
    position: static;
    overflow: visible;
    margin-bottom: 0;
  }

  &__body {
    @include make-spacer(mb, 10);
    @include make-spacer(mb, 0, md);
    @include make-spacer(mx, 'auto');

    position: relative;
  }

  &__wrapper {
    position: relative;
    width: 514px;
    height: auto;
    transform: translateX(-50%);
    left: 50%;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
      width: auto;
    }

    @include media-breakpoint-up(md) {
      position: static;
      transform: none;
      left: auto;
      padding: 16px;
      cursor: none;
    }
  }

  &__iframe {
    @include size(100%);

    display: block;
    max-width: 100%;
    pointer-events: none;
    aspect-ratio: 16/9;

    @include media-breakpoint-up(md) {
      max-height: calc(100vh - var(--header-height) - var(--foote-height));
    }
  }

  &__button {
    @include size(70px);
    @include flex(center, center);


    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -8px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--white);
    mix-blend-mode: difference;
    z-index: 4;

    &.focus {
      color: white;
      background-color: black;
      transition: all 0.2s;
    }

    &.paused {
      > span:first-child {
        display: block;
      }

      > span:last-child {
        display: none;
      }
    }

    > span:first-child {
      display: none;
    }

    > span:last-child {
      display: block;
    }

    svg {
      color: var(--black);
    }

    @include media-breakpoint-up(md) {
      @include size(100px);

      margin-top: 0;
      margin-left: -8px;
      left: 0;
      top: 50%;
      transform: translateX(0) translateY(-50%);
      pointer-events: none;
    }
  }
}
