@use '../config' as *;

.faq-section {
  display: grid;
  grid-template-columns: 1fr rem(620px);
  grid-column-gap: rem(24px);

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }

  &__body {
    @include make-spacer(mt, 3);

    @include media-breakpoint-down(sm) {
      margin-top: rem(80px);
    }

    @include media-breakpoint-down(xs) {
      margin-top: rem(50px);
    }
  }

  &__text {
    @include font-size(20px, 30px);

    margin-top: rem(80px);
  }

  &__content {
    @include font-size(20px, 30px);
    @include make-spacer(pl, 4);

    @include media-breakpoint-down(sm) {
      @include font-size(16px, 24px);
    }
  }
}
