@use '../config' as *;

.help-section {
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr minmax(rem(375px), rem(1124px)) .6fr;

  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr minmax(rem(1200px), var(--container-width)) 1fr;
  }

  &__container {
    border-top-left-radius: rem(24px);
    border-bottom-left-radius: rem(24px);
    background-color: var(--black);
    color: var(--white);
    padding: rem(60px) 0 rem(84px) rem(104px);

    @include media-breakpoint-down(md) {
      margin-left: rem(24px);
      padding-right: rem(24px);
      padding-bottom: rem(105px);
    }

    @include media-breakpoint-down(sm) {
      padding: rem(56px) 0 rem(84px) rem(50px);
    }

    @include media-breakpoint-down(xs) {
      margin-left: rem(16px);
      padding: rem(43px) rem(32px) rem(52px) rem(32px);
    }
  }

  &__decor {

    &:last-child {
      background-color: var(--black);
    }
  }

  &__header {
    position: relative;
    display: grid;
    grid-template-columns: rem(575px) rem(274px);
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      grid-template-columns: minmax(0, rem(575px));
    }
  }

  &__subtitle {
    @include font-size(18px, 25px);
    @include make-spacer(mb, 0);
    @include make-spacer(mt, 3);

    @include media-breakpoint-down(md) {
      @include make-spacer(mt, 6);
    }

    font-weight: var(--bold);
  }

  &__list {
    position: relative;
    margin-top: rem(90px);

    @include media-breakpoint-down(md) {
      margin-top: rem(70px);
    }

    @include media-breakpoint-down(sm) {
      margin-top: rem(80px);
    }
  }

  &__image {
    width: 322px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &--left {

    .help-section {

      &__decor {
        &:last-child {
          background-color: transparent;
        }

        &:first-child {
          background-color: var(--black);
        }
      }

      &__container {
        border-radius: 0 rem(24px) rem(24px) 0;
        padding-left: 0;
        padding-right: rem(104px);

        @include media-breakpoint-down(md) {
          margin-left: 0;
          margin-right: rem(24px);
          padding-right:0;
          padding-left: rem(24px);
        }

        @include media-breakpoint-down(sm) {
          padding-right: rem(50px);
        }

        @include media-breakpoint-down(xs) {
          margin-left:0;
          margin-right: rem(16px);
          padding-right: rem(16px);
        }
      }
    }
  }
}
