@use '../config' as *;

.options-section {
  overflow: hidden;

  &__decor {
    position: absolute;
    top: rem(140px);
    left: rem(-90px);
    width: rem(437px);
    z-index: -1;
  }

  &__content {
    position: relative;
  }

  &__grid {
    @include make-spacer(mt, 8);

    position: relative;
  }
}
