@use '../config' as *;

.partners-section {
  display: grid;
  grid-template-columns: 1fr rem(620px);
  grid-column-gap: rem(24px);

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }

  &__link {
    display: block;
    height: rem(40px);
    position: relative;

    svg {
      @include size(100%);
    }
  }

  &__grid {
    @include make-spacer(mt, 11);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(66px);

    @include media-breakpoint-down(xs) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__body {
    @include make-spacer(pt, 2);

    @include media-breakpoint-down(md) {
      margin-top: rem(32px);
    }

    @include media-breakpoint-down(xs) {
      margin-top: rem(30px);
    }
  }

  &__subtitle {
    @include font-size(20px, 30px);

    max-width: rem(480px);
  }

  &__text {
    @include font-size(20px, 30px);

    margin-top: rem(80px);
  }
}
