.cards-grid
  .cards-grid__top
    .history-card
      .history-card__top
        img(src=require("../../images/h1.jpeg") alt="history picture").history-card__image
      .history-card__body
        p.history-card__title война в Афгане
        p.history-card__label.
          <b>68 000</b> человек
          <br>
          за <b>10</b> лет
        p.history-card__text.
          За всю десятилетнюю войну в Афгане СССР потеряла убитыми и ранеными 68 тысяч солдат из контингента в
           620 тысяч человек, то есть 11% военнослужащих.


  .cards-grid__bottom
