section.section.section--black
  .container
    .article
      .article__with-photos
        .text-column
          .section__subtitle Ничто не может сравниться
          .section__title с горем матери,
          .section__subtitle которая лишилась своего ребёнка.
          p.
            Кому, как не российским матерям знать это лучше всех. Материнская любовь не знает преград, границ и не
            подчиняется никаким законам, потому что она и есть наивысший закон. Поэтому нет ничего удивительного
            в том, что российские матери <b>прячут своих сыновей от весеннего призыва.</b> И пускай уклонение от призыва
            теоретически является правонарушением, размер этого правонарушения – ничто по сравнению с преступлением,
            которое совершает военком, <b>нарушая личное распоряжение Путина</b> и отправляя необстрелянных восемнадцатилетних
            детей на поля сражений Донбасса, где их ждут вооруженные до зубов натовской военщиной украинские нацисты.
          p.
            Даже если призывник вернётся с этих полей сражений, где война кипит уже восемь полных лет, <b>он уже никогда
            не будет прежним.</b> Как ветераны Афганистана и Чечни, вернувшись, никогда уже не могли забыть ужасы увиденной
            ими войны, и приносили их в мирную жизнь, так и ветераны украинской войны никогда не смогут избавиться от её
            тяжких психологических травм. Ветераны афганской и чеченской войн, столкнувшись с недостаточным вниманием
            государства к себе и к своим нуждам, были вынуждены выживать сами, теми методами, которые они выучили на войне.
            Результатом стали <b>эпидемии наркомании, разгул бандитизма, рэкет и насилие.</b> Тот расцвет организованной
            преступности, который Россия испытала после Афганистана и Чечни, трудно переоценить и невозможно забыть.
        .photo-column
            .photo-column__img-wrap
                img(src=require("../../images/farewell-past.jpg"))
                .photo-column__img-label и тогда
            .photo-column__img-wrap
                img(src=require("../../images/farewell-now.jpg"))
                .photo-column__img-label и сейчас
      .article__with-decor
        .article__decor
        .text-column
          p.
            Никакая мать не захочет, зная опыт Афгана и Чечни, чтобы её <b>сын стал жертвой войны.</b>
            Потому что даже если вам повезёт, и сын вернётся живым, а потом повезёт дважды, и сын вернётся
            живым и физически здоровым, недаром психологи говорят, что "нельзя вернуться с войны". Они знают,
            что психологические травмы, вызываемые артобстрелами и смертями близких, ничем нельзя вылечить, и
            <b>ветераны носят в себе войну до самой смерти.</b>
          p.
            <b>Статистика самоубийств</b> говорит, что в послевоенное время количество самоубийств вырастает скачкообразно,
            вплоть до 18 раз в 1996 году, после Первой Чеченской, когда Россия тоже была вынуждена бросить в бой
            неподготовленных молодых срочников. Призывники просто слишком молоды, чтобы пережить психологические
            травмы военных действий, что и приводит к последующим эпидемиям самоубийств, казалось бы, молодых
            здоровых и счастливых ветеранов.
          p.
            Поэтому, разумеется, <b>нет ничего плохого или нелогичного</b> в желании призывников и их семей <b>спрятать
            молодых людей от призыва.</b> В конце концов, речь идёт не о недостатке патриотизма, а о противодействии
            местным коррумпированным властям, которые нарушают прямое указание Президента Российской Федерации и
            отправляют на убой призывников, хотя им это запретил лично Владимир Путин.
          p.
            Это не последний призыв в истории Российской Федерации. В самое ближайшее время война на Украине будет
            закончена силами профессионалов полной денацификацией и демилитаризацией Украины, после чего мобилизация
            перестанет нести те критические риски, которые она несёт в данный момент. Тогда гордые матери сами
            приведут своих сыновей за руку в военкоматы, чтобы их дети исполнили требующийся от них долг и стали
            настоящими мужчинами.
