section.help
    .help__title-wrap
        .section__title <b>Организации</b> помощи
        .help__desc.
            Некоторые организации помогают избегать службы 
            в армии <b>на законных основаниях:</b>
    .help__contacts
        .help__contact
            .help__contact-title Спецколлегия адвокатов <b>«Призывник»</b>
            ul.help__contact-links
                li.help__contact-link
                    include ../../images/svg/site.svg
                    a(href='https://www.prizyv.net/uklonenie-ot-armii-2020' target='_blank') prizyv.net/uklonenie-ot-armii-2020
                li.help__contact-link
                    include ../../images/svg/phone.svg
                    a(href='tel:+74953641529') +7 (495) 364-15-29;
                    a(href='tel:+74953641539') +7 (495) 364-15-39
                li.help__contact-link
                    include ../../images/svg/vk.svg
                    a(href='https://www.vk.com/skaprizyvnik' target='_blank') vk.com/skaprizyvnik
        .help__contact
            .help__contact-title Правозащитная организация <b>«Школа призывника»</b>
            ul.help__contact-links
                li.help__contact-link
                    include ../../images/svg/site.svg
                    a(href='https://www.netprizyvu.ru' target='_blank') netprizyvu.ru
                li.help__contact-link
                    include ../../images/svg/phone.svg
                    a(href='tel:+89933992640') 8 (993) 399-26-40
                li.help__contact-link
                    include ../../images/svg/vk.svg
                    a(href='https://www.vk.com/netprizyvu' target='_blank') vk.com/netprizyvu
        .help__contact
            .help__contact-title Призыва нет 
            ul.help__contact-links
                li.help__contact-link
                    include ../../images/svg/site.svg
                    a(href='https://www.prizyvanet.ru/kak_izbezhat_armii' target='_blank') prizyvanet.ru/kak_izbezhat_armii
                li.help__contact-link
                    include ../../images/svg/phone.svg
                    a(href='tel:+88001001416') 8-800-100-14-16
                li.help__contact-link
                    a(href='mailto:site@prizyvanet.ru') site@prizyvanet.ru
        .help__contact
            .help__contact-title Правозащитная организация <b>“Солдатские матери Санкт-Петербурга”</b>
            ul.help__contact-links
                li.help__contact-link
                    include ../../images/svg/site.svg
                    a(href='https://www.soldiersmothers.ru' target='_blank') soldiersmothers.ru
                li.help__contact-link.flex-start
                    include ../../images/svg/phone.svg
                    .help__contact-a-wrap
                        a(href='tel:+79062631717') Для военнослужащих: +7 (906) 263-17-17
                        a(href='tel:+79117723440') Для призывников: +7 (911) 772-34-40
        .help__contact
            .help__contact-title Служба помощи призывникам
            ul.help__contact-links
                li.help__contact-link
                    include ../../images/svg/site.svg
                    a(href='https://www.armyhelp.ru/mozhno-li-otkupitsya-ot-armii' target='_blank') armyhelp.ru/mozhno-li-otkupitsya-ot-armii
                li.help__contact-link
                    include ../../images/svg/phone.svg
                    a(href='tel:+88003335363') 8(800)333-53-63
                li.help__contact-link
                    include ../../images/svg/vk.svg
                    a(href='https://www.vk.com/armyhelp' target='_blank') vk.com/armyhelp
        .help__contact
            .help__contact-title Повесток нет
            ul.help__contact-links
                li.help__contact-link
                    include ../../images/svg/site.svg
                    a(href='https://www.povestok.net/soviet' target='_blank') povestok.net/soviet
                li.help__contact-link
                    include ../../images/svg/phone.svg
                    a(href='tel:+88006003158') 8 800 600-31-58
                li.help__contact-link
                    a(href='https://t.me/voenik5?roistat_visit=1189338' target='_blank') t.me/voenik5?roistat_visit=1189338
