.hero-section
  .hero-section__decor
  .hero-section__content
    h1.hero-section__title Россия —
    p.hero-section__subtitle великая страна с мощной экономикой
    p.hero-section__text.
      И, как всякая <b>мировая держава</b>, входящая в клуб главных геополитических сил, она вынуждена регулярно
      принимать
      участие в боевых действиях за рубежом. Это бремя интернационального долга Российская Федерация унаследовала ещё от
      Советского Союза, и несёт его с достоинством и гордостью.

    p.hero-section__text.
      Не говоря о том <b>доминирующем вкладе в денацификацию Германии</b>, который Советская Россия внесла в годы
      Великой
      Отечественной Войны,только в последние десятилетия на долю каждого поколения в Российской Федерации пришлась
      большая война. Это и война в <b>Афганистане, и Первая, и Вторая Чеченские войны</b>
