.info
  .info__grid
    .info__item
      .info__header
        .info__title Афганская война
        .info__date (1979 — 1989)
      .info__body
        .info__content
          p.u-text.
            Афганская война шла с 1979 по 1989 гг. Само слово «война» в официальных сообщения
            старились не употреблять, вместо него использовали термин «оказание интернациональной
            помощи дружественному афганскому народу». Большинство источников указывает, что через
             Афган прошло более 620 тысяч советских военнослужащих (согласно официальной справке МО
             СССР — 546 255). В их числе <b>525,5 тысячи</b> солдат и офицеров ВС СССР.
          p.u-text.
            За время войны, в Афганистане было убито 15051 членов «ограниченного контингента»,
             из них — <b>14 427</b> военнослужащих ВС Союза ССР. В это число не входят 417 пропавших без
             вести или попавших в плен. К 1999 году на Родину не были возвращены 287 человек.
             В ходе конфликта, <b>53 753</b> солдата были ранены или контужены. <b>415 932</b> перенесли различные
             заболевания. В основном болели гепатитом — <b>115 308</b> чел и тифом — <b>31 080</b>. Больше <b>10 тыс.</b>
             солдат на всю жизнь остались инвалидами. В итоговых потерях не учтены военнослужащие,
              умершие от ран и болезней в госпиталях на территории СССР.
        img(src=require("../../images/i1.jpeg") alt="war crime").info__image

    .info__item
      .info__header
        .info__title Первая чеченская война
        .info__date (1994 — 1996)
      .info__body
        .info__content
          p.u-text.
            Первая чеченская война, она же «Операции по восстановлению
            конституционного порядка» длилась с 1994 по 1996 год. Хотя Министр обороны
            России Павел Грачев пообещал, что возьмет Грозный за два часа силами
            одного парашютно-десантного полка. Однако так не случилось, и война
            продолжалась два года. Общее число контрактников и призывников,
            участвующих в конфликте, до сих пор не названо. Немногим лучше
             обстоит дело с потерями, но и тут цифры разнятся на порядок.
            По официальным данным, опубликованным в 2001 году, в ходе Первой
            чеченской погибло 5732 человека, в том числе 3860 военнослужащих
            Вооружённых Сил РФ. По данным Союза комитетов солдатских матерей,
            количество погибших военнослужащих составляло около <b>14 000.</b>
            Чеченцы утверждали, что федеральные силы потеряли более 80 000 солдат,
             но их данные, скорее всего, завышены. Ранено, по официальным данным,
              было <b>19 794</b> человека. По данным исследования Минобороны «Россия в
              войнах ХХ века», около 80% раненых были «возвращены в строй». Значит,
               около <b>4 тысяч</b> человек остались инвалидами. Неизвестна судьба многих
                пленных и пропавших без вести.
        img(src=require("../../images/i2.jpeg") alt="war crime").info__image

    .info__item
      .info__header
        .info__title Вторая чеченская война
        .info__date (1999 — 2009)
      .info__body
        .info__content
          p.u-text.
            Активная фаза Второй чеченской войны или Контртеррористических операции
            на территории Северо-Кавказского региона продолжалась пол года, вторая
             фаза – до 2009 года. За это время в ней приняло участие 80 тыс.
             военнослужащих. Официальные потери составили 4249 человек. Но комитет
              солдатских матерей называет другую цифру – более <b>10 тысяч</b>. Ранения
              получили <b>15549</b> россиян. Скорее всего, как и по Первой чеченской войне,
               – цифры будут уточняться со временем. Участниками боевых действий
               за обе войны считаются <b>600 000</b> человек.
        img(src=require("../../images/i3.jpeg") alt="war crime").info__image
