.list-section
  div
    .list-section__header
      .list-section__number 1
      .list-section__title Не подходить по состоянию здоровья
    .list-section__body
      p.u-text.
        Список заболеваний и отклонений приведен в т. н. <a href="#"><b>«Расписании болезней»</b></a>.
      ul.u-list
        li.u-text.
          Важно отметить, что сбором необходимых справок, анализов и других документов
          следует заняться самостоятельно, т.к. в военкомате работают в основном с
          «бумажками», а на самого призывника могут и не посмотреть.
        li.u-text.
          Также не лишним будет снять копии с имеющихся у вас документов, чтобы они
          случайно не «потерялись» в процессе прохождения комиссии и рассмотрения вашего дела.
        li.u-text.
          Во время прохождения комиссии нужно не стесняться жаловаться специалистам,
           при необходимости, они отправят вас на дополнительное обследование.
            Врач медкомиссии не может изменить диагноз, поставленный в другом учреждении.
        li.u-text.
          Также отсрочку по состоянию здоровья на срок от 6 до 12 месяцев получают
           те, кому присвоена категория «Г» - т. е. у кого есть заболевание,
           которое можно вылечить.
  div
    .list-section__header
      .list-section__number 2
      .list-section__title Не находиться на территории России
    .list-section__body
      p.u-text.
        Если есть возможность уехать и «отсидеться» до окончания боевых действий, стоит ей воспользоваться.
  div
    .list-section__header
      .list-section__number 3
      .list-section__title Учиться
    .list-section__body
      p.u-text.
        Отсрочку получают учащиеся: студенты ВУЗов или среднего профессионального
         учебного заведения очной формы обучения, аспиранты, соискатели ученой степени.
         Кандидаты и доктора наук также не подлежат призыву.
  div
    .list-section__header
      .list-section__number 4
      .list-section__title Получить отсрочку по семейным обстоятельствам
    .list-section__body
      p.u-text
        b.
          В армию не берут:
      ul.u-list
        li.u-text.
          Отцов-одиночек;
        li.u-text.
          Имеющих двоих и более детей;
        li.u-text.
          При наличии ребенка-инвалида до трех лет;
        li.u-text.
          Имеющих ребенка и жену, срок беременности которой не менее 22 недель;
          лиц, ухаживающих за тяжелобольными родственниками (Необходимость регулярного ухода за
          больным должна подтвердить медико-социальная комиссия);
        li.u-text.
          Опекунов, на иждивении которых находится несовершеннолетний брат или сестра, у которых нет других родственников;
        li.u-text.
          Также не призывают тех, у кого близкий родственник погиб при исполнении воинской службы.
  div
    .list-section__header
      .list-section__number 5
      .list-section__title Устроиться на работу в органы
    .list-section__body
      ul.u-list
        li.u-text.
          Органы внутренних дел
        li.u-text.
          ФСБ
        li.u-text.
          МЧС
        li.u-text.
          Пожарную часть
        li.u-text.
          На таможню
        li.u-text.
          Органы принудительного исполнения
  div
    .list-section__header
      .list-section__number 6
      .list-section__title Пройти альтернативную службу
    .list-section__body
      p.u-text.
        Это право закреплено в Конституции РФ. В армию можно не идти по личным убеждениям –
        <b>этическим, религиозным</b> или <b>пацифистским</b>. Для этого нужно подготовить заявление
        о замене военной службы на альтернативную гражданскую, в котором нужно изложить свои
         убеждения (<a href="#"><b>шаблон</b></a>). К заявлению нужно обязательно приложить автобиографию и характеристику с
          места учебы/работы/организации. В идеале заявление на АГС подавать не позднее
           6 месяцев до начала призыва.
  div
    .list-section__header
      .list-section__number 7
      .list-section__title Продержаться до 27 лет
    .list-section__body
      p.u-text.
        Людей старше этого возраста не призывают на срочную службу.

  div
    .list-section__header
      .list-section__number 8
      .list-section__title Если у вас есть легальные причины не идти в армию
    .list-section__body
      p.u-text.
        Но вас всё равно туда пытаются забрать, стоит обратиться к адвокату и отстаивать свои права через суд.
        Обжаловать решение комиссии можно в течение трех месяцев. <br>
        <a href="#"><b>Однако юристы советуют не затягивать с опротестованием.</b></a>
        Важно подать жалобу до дня отправки, указанного в повестке, иначе от службы не уйти.
         Жалобу рассмотрят в течение пяти рабочих дней.
  div
    .list-section__header
      .list-section__number 9
      .list-section__title Злостно уклоняться
    .list-section__body
      p.u-text.
        Для уклонистов от призыва предусматривается административная ответственность
        в виде <b>штрафа в размере 500 – 3000 рублей</b> (статья 328 УК РФ). Для тех, кто это совершает
         повторно или регулярно – уголовная. Тут сумма штрафа составляет уже 200 тыс. рублей, а
         максимальная мера – это лишение свободы на два года. Но, в целом, это лучше,
         чем погибнуть или стать инвалидом.
  div
    .list-section__header
      .list-section__number 10
      .list-section__title Можно стараться избегать получения повестки
    .list-section__body
      p.u-text.
        Повестка – это основание для прихода в военкомат. Её должны вручать по всем правилам:
        <b>лично в руки и под подпись</b>. Повестки, переданные через родителей,
        соседей, работодателя, знакомых, вброшенные в почтовый ящик, засунутые
         под дверь и т. д., можно игнорировать. Однако отказаться от повестки,
          встретившись лично с военным комиссаром, нельзя. Кроме комиссара,
          повестку могут вручать только сотрудники органов местного управления или МВД.

  div
    .list-section__header
      .list-section__number 11
      .list-section__title Получить условную судимость
    .list-section__body
      p.u-text.
        Согласно нормативному акту, даже если гражданин не находится «под стражей» в
        местах лишения свободы, а имеет условный срок, призыв на службу невозможен.
        Способов получить «условку» немало, например, можно украсть что-то, что стоит
        больше 2500 руб. Однако тут главное не переусердствовать, чтобы не получить
         реальный срок. Впрочем, отсидевших сейчас тоже не призывают.

  div
    .list-section__header
      .list-section__number 12
      .list-section__title Если военкомат потребует взятку
    .list-section__body
      p.u-text.
        Если в военкомате от вас будут требовать взятку за освобождение от военной службы…
         возможно, этим есть смысл воспользоваться.
