.proclamation-section
  .proclamation-section__top
    img(src=require("../../images/l.jpeg") alt="mom").proclamation-section__image
    .proclamation-section__body
      p.proclamation-section__title.
        "Вчера из зоны боевых действий были выведены срочники.
        Их заставили подписать контракт или за них подписывали.
      p.proclamation-section__title.proclamation-section__title--bold.
        Но только в итоге из роты в 100 человек в живых осталось четверо"
      p.proclamation-section__mark – заявила Нарусова

  .proclamation-section__bottom
    p.proclamation-section__text.
      Как следует из слов Людмилы Нарусовой, приведённые в пятницу <b>сведения о потерях она получила</b>
       от Министерства Обороны, куда обратилась вместе с Виктором Бондаревым, главой комитета
       Совета Федерации по обороне и безопасности.
    p.proclamation-section__text.
      Таким образом, <b>несмотря на прямое указание Владимира Путина</b> о недопустимости применения
      призывников и срочников на территории Украины, это указание нарушается местными властями.
      Разумеется, все эти нарушения будут расследованы, и виновные в них будут наказаны. Но
      трагедию матерей, к которым из роты в сто человек вернулось четверо, это уже не исправит.
