.short-sections
  .short-sections__item.short-sections__item--left
    h3.short-sections__title Это та цена,
    h4.short-sections__subtitle которую Российская Федерация должна заплатить
    p.short-sections__text.
      за выполнение своего долга – <b>денацификацию</b> и <b>демилитаризацию</b> враждебного
      украинского режима, захватившего власть в ранее дружественной Украине. Однако, к
       огромному сожалению, эту цену платят наши с вами дети, призывники, которых
       мобилизуют и отправляют на поля кровопролитных украинских фронтов,
        откуда они возвращаются инвалидами как физически, так и душевно

  .short-sections__item.short-sections__item--right
    h3.short-sections__title Владимир Путин
    h4.short-sections__subtitle неоднократно акцентировал внимание военных и чиновников
    p.short-sections__text.
      на том, что <b>призывники ни в коем случае не должны принимать участие
      в боевых действиях на Украине</b>. Однако, на местах это указание последовательно
       саботируется недобросовестными исполнителями. В частности, член Совета Федерации
       Людмила Нарусова на заседании палаты в пятницу привела <b>данные о значительных потерях среди
      солдат-срочников</b>, с которыми перед началом российского вторжения
      в Украину, по её словам, были подписаны контракты и которых впоследствии отправили в
      зону боевых действий.
