@use '../config' as *;

// Colors

.u-color-white {
  color: var(--white);
}

// Text Align

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

// Font Weight

.u-text-bold {
  font-weight: var(--bold);
}
