@use '../config' as *;

// Colors

.u-color-white {
  color: #fff;
}

// Text Align

.u-text-center {
  text-align: center;

  &-sm {
    @include media-breakpoint-up(sm) {
      text-align: center;
    }
  }
}

.u-text-left {
  text-align: left;
}
