@use '../config' as *;

.u-text {
  @include font-size(20px, 29px);

  margin: 0 0 24px;

  &:last-child {
    margin-bottom: 0;
  }

  b {
    @include font-size(25px, 29px);

    @include media-breakpoint-down(md) {
      @include font-size(16px, 24px);
    }
  }

  @include media-breakpoint-down(md) {
    @include font-size(16px, 24px);
  }
}

.u-text-white {
  color: var(--white);
}

.u-text-center {
  text-align: center;
}
