section.section.coaches-section
  picture
    source(srcset=require('../../images/coaches-decor.webp') type="image/webp")
    img(src=require('../../images/coaches-decor.png') alt="decor").coaches-section__decor
  .container
    h3.title Our coaches have:
    .coaches-section__content
      .coaches-section__grid
        .coaches-section__item
          h5.coaches-section__title.
            validated secrtification
          p.coaches-section__subtitle.
            Provide a certificate from a certified coach institute.
        .coaches-section__item
          h5.coaches-section__title.
            Coaching background
          p.coaches-section__subtitle.
            500+ hours of coaching experience,<br>
            1,000+ hours is a plus.
        .coaches-section__item
          h5.coaches-section__title.
            Extensive experience
          p.coaches-section__subtitle.
            6+ years experience in a similar role.
        .coaches-section__item
          h5.coaches-section__title.
            Coaching Mindset
          p.coaches-section__subtitle.
            Enthusiastic and result oriented approach, can-do attitude.
