section.section
  .container
    .cta-section
      picture
        source(srcset=require('../../images/cta-arrow.webp') type="image/webp")
        img(src=require('../../images/cta-arrow.png') alt="decor").cta-section__decor
      .cta-section__grid
        .cta-section__body
          h3.title.title--sm find your best career matches
          p.cta-section__text.
            Discover all your professional opportunities and build your dream career.
        .cta-section__button
          a(href="#").button.button--fluid.button--secondary Get Started
