section.section
  .container
    .faq-section
      .faq-section__title
        h4.title FAQ
          .title__icon
            include ../../images/svg/star-2.svg
      .faq-section__body
        .accordion.accordion--accent.js-accordion
          .accordion__item
            button.accordion__trigger.js-accordion-trigger
              .accordion__title Is this service free?
              .accordion__arrow
                svg(class="icon icon-arrow")
                  use(xlink:href="#icon-arrow")
            .accordion__body
              .accordion__wrapper.js-accordion-content
                .accordion__content
                  p.faq-section__content.
                    The free version of the Competenz Lab allows you to analyze your current
                     skills for free and get a visualization of this analysis in PDF file format.
          hr.accordion__divider
          .accordion__item
            button.accordion__trigger.js-accordion-trigger
              .accordion__title How do I know that the results are accurate?
              .accordion__arrow
                svg(class="icon icon-arrow")
                  use(xlink:href="#icon-arrow")
            .accordion__body
              .accordion__wrapper.js-accordion-content
                .accordion__content
                  p.faq-section__content.
                    At Competenz Lab you upload your own CV, with your experience,
                     skills, and achievements. Based on thousands of CV’s already analyzed,
                      the artificial intelligence algorithms of our platform analyze your
                       CV and provide recommendations that are most relevant to it.
          hr.accordion__divider
          .accordion__item
            button.accordion__trigger.js-accordion-trigger
              .accordion__title How much time do I need to get results?
              .accordion__arrow
                svg(class="icon icon-arrow")
                  use(xlink:href="#icon-arrow")
            .accordion__body
              .accordion__wrapper.js-accordion-content
                .accordion__content
                  p.faq-section__content.
                    It will take no more than 15 minutes to get the first results.
          hr.accordion__divider
          .accordion__item
            button.accordion__trigger.js-accordion-trigger
              .accordion__title What exactly does a career match involve?
              .accordion__arrow
                svg(class="icon icon-arrow")
                  use(xlink:href="#icon-arrow")
            .accordion__body
              .accordion__wrapper.js-accordion-content
                .accordion__content
                  p.faq-section__content.
                    After the CV analysis, you will receive a detailed analysis of the
                     relevant professions which include the job description, yearly
                     salary, and required skills to get this job
          hr.accordion__divider
          .accordion__item
            button.accordion__trigger.js-accordion-trigger
              .accordion__title What if I want to change my industry completely?
              .accordion__arrow
                svg(class="icon icon-arrow")
                  use(xlink:href="#icon-arrow")
            .accordion__body
              .accordion__wrapper.js-accordion-content
                .accordion__content
                  p.faq-section__content.
                    Competenz Lab can help you change your career path,
                     regardless of your previous experience. Whether you want
                      to find a job in the same field or in a completely different
                      one, you will achieve your goal with due dedication and determination.
        p.faq-section__text.
          If you can't find an answer here, please reach out to us at
          <br><a href="mailto:support@competenzlab.io"><b>support@competenzlab.io</b></a>
