section.section
  .container
    .faq-section
      .faq-section__title
        h4.title FAQ
          .title__icon
            include ../../images/svg/star-2.svg
      .faq-section__body
        .accordion.accordion--accent.js-accordion
          .accordion__item
            button.accordion__trigger.js-accordion-trigger
              .accordion__title Unlimited career matches
              .accordion__arrow
                svg(class="icon icon-arrow")
                  use(xlink:href="#icon-arrow")
            .accordion__body
              .accordion__wrapper.js-accordion-content
                .accordion__content
                  span.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                     deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                     architecto atque blanditiis facere incidunt maiores possimus, quibusdam
                     quisquam similique vero voluptate, voluptatem.
          hr.accordion__divider
          .accordion__item
            button.accordion__trigger.js-accordion-trigger
              .accordion__title Personal report
              .accordion__arrow
                svg(class="icon icon-arrow")
                  use(xlink:href="#icon-arrow")
            .accordion__body
              .accordion__wrapper.js-accordion-content
                .accordion__content
                  span.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                     deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
          hr.accordion__divider
          .accordion__item
            button.accordion__trigger.js-accordion-trigger
              .accordion__title List of cources
              .accordion__arrow
                svg(class="icon icon-arrow")
                  use(xlink:href="#icon-arrow")
            .accordion__body
              .accordion__wrapper.js-accordion-content
                .accordion__content
                  span.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                     deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
          hr.accordion__divider
          .accordion__item
            button.accordion__trigger.js-accordion-trigger
              .accordion__title Coach consultation
              .accordion__arrow
                svg(class="icon icon-arrow")
                  use(xlink:href="#icon-arrow")
            .accordion__body
              .accordion__wrapper.js-accordion-content
                .accordion__content
                  span.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                     deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
          hr.accordion__divider
          .accordion__item
            button.accordion__trigger.js-accordion-trigger
              .accordion__title Development plan
              .accordion__arrow
                svg(class="icon icon-arrow")
                  use(xlink:href="#icon-arrow")
            .accordion__body
              .accordion__wrapper.js-accordion-content
                .accordion__content
                  span.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                     deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
        p.faq-section__text.
          If you can't find an answer here, please reach out to us at
          <br><a href="mailto:support@competenzlab.io"><b>support@competenzlab.io</b></a>
