section.section
  .help-section
    .help-section__decor
    .help-section__container
      .help-section__header
        h3.title.help-section__title Help us build the better product
          .title__icon
            include ../../images/svg/star-6.svg
        p.help-section__subtitle.
          Hopefully you enjoy what we
          do in Competenz Lab. Share your ideas or just write to us -
          we will be happy to hear from you anyway.
      .help-section__list
        .help-list
          .help-list__item
            .help-list__icon
              include ../../images/svg/h1.svg
            .help-list__title Have an ideas, or have something to share?
            .help-list__text.
              <a href="#" class="help-list__accent">Leave feedback</a>
               — share your ideas via the link or propose the feature you need.
            .help-list__button
              a(href="").button.button--secondary.button--fluid Leave feedback
          .help-list__item
            .help-list__icon
              include ../../images/svg/h2.svg
            .help-list__title Need some features sooner?
            .help-list__text.
              Just click upvote on Feature list.
              <a href="#" class="help-list__accent">More upvotes</a> — more chance
              of faster release.
          .help-list__item
            .help-list__icon
              include ../../images/svg/h3.svg
            .help-list__title What will be the next in Competenz Lab?
            .help-list__text.
              <a href="#" class="help-list__accent">Product roadmap</a> —
               here what we're working on and what's coming next.

    .help-section__decor
