section.section.options-section
  picture
    source(srcset=require('../../images/options-section-decor.webp') type="image/webp")
    img(src=require('../../images/options-section-decor.png') alt="decor").options-section__decor
  .container
    .options-section__content
      h3.title Get even more options with CompetenzeLab:
      .options-section__grid
        .options
          .options__grid
            .options__item
              p.options__title free
              .options__accordion
                .accordion.js-accordion
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title 3 carrier matches
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        span.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                           deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                           architecto atque blanditiis facere incidunt maiores possimus, quibusdam
                           quisquam similique vero voluptate, voluptatem.
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Personal report
                      .accordion__subtitle See the report example
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrappe.js-accordion-content
                        span.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                           deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
              .options__button
                a(href="#").button.button--primary.button--fluid.button--md Try it for free
            .options__item.active
              p.options__title silver
              .options__accordion
                .accordion.js-accordion
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Unlimited career matches
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        span.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                           deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                           architecto atque blanditiis facere incidunt maiores possimus, quibusdam
                           quisquam similique vero voluptate, voluptatem.
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Personal report
                      .accordion__subtitle See the report example
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrappe.js-accordion-content
                        span.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                           deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title List of cources
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrappe.js-accordion-content
                        span.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                           deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam

                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Development plan
                      .accordion__subtitle
                        include ../../images/svg/star-5.svg
                        | in progress
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrappe.js-accordion-content
                        span.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                           deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
              .options__button
                a(href="#").button.button--secondary.button--fluid.button--md 79.99€/month
            .options__item
              p.options__title consultation
              .options__accordion
                .accordion.js-accordion
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Unlimited career matches
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        span.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                           deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                           architecto atque blanditiis facere incidunt maiores possimus, quibusdam
                           quisquam similique vero voluptate, voluptatem.
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Personal report
                      .accordion__subtitle See the report example
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrappe.js-accordion-content
                        span.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                           deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title List of cources
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrappe.js-accordion-content
                        span.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                           deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Coach consultation
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrappe.js-accordion-content
                        span.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                           deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Development plan
                      .accordion__subtitle
                        include ../../images/svg/star-5.svg
                        | in progress
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrappe.js-accordion-content
                        span.
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                           deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
              .options__button
                a(href="#").button.button--primary.button--fluid.button--md 499€/h for consultation

