section.section.options-section
  .options-section__content
    .container
      h3.title Get even more options with CompetenzeLab:
    .options-section__grid
      picture
        source(srcset=require('../../images/options-section-decor.webp') type="image/webp")
        img(src=require('../../images/options-section-decor.png') alt="decor").options-section__decor
      .container
        .options
          .options__grid
            .options__item
              p.options__title free
              .options__accordion
                .accordion.js-accordion
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title 3 carrier matches
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        .accordion__content
                          .options-section__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                             deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                             architecto atque blanditiis facere incidunt maiores possimus, quibusdam
                             quisquam similique vero voluptate, voluptatem.
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Personal report
                      .accordion__subtitle See the report example
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        .accordion__content
                          .options-section__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                             deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
              .options__button
                a(href="#").button.button--primary.button--fluid.button--md Try it for free
            .options__item.active
              p.options__title silver
              .options__accordion
                .accordion.js-accordion
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Unlimited career matches
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        .accordion__content
                          .options-section__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                             deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                             architecto atque blanditiis facere incidunt maiores possimus, quibusdam
                             quisquam similique vero voluptate, voluptatem.
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Personal report
                      .accordion__subtitle See the report example
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        .accordion__content
                          .options-section__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                             deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title List of cources
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        .accordion__content
                          .options-section__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                             deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam

                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Development plan
                      .accordion__subtitle
                        include ../../images/svg/star-5.svg
                        | in progress
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        .accordion__content
                          .options-section__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                             deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
              .options__button
                a(href="#").button.button--secondary.button--fluid.button--md 79.99€/month
            .options__item
              p.options__title consultation
              .options__accordion
                .accordion.js-accordion
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Unlimited career matches
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        .accordion__content
                          .options-section__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                             deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                             architecto atque blanditiis facere incidunt maiores possimus, quibusdam
                             quisquam similique vero voluptate, voluptatem.
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Personal report
                      .accordion__subtitle See the report example
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        .accordion__content
                          .options-section__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                             deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title List of cources
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        .accordion__content
                          .options-section__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                             deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Coach consultation
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        .accordion__content
                          .options-section__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                             deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
                  hr.accordion__divider
                  .accordion__item
                    button.accordion__trigger.js-accordion-trigger
                      .accordion__title Development plan
                      .accordion__subtitle
                        include ../../images/svg/star-5.svg
                        | in progress
                      .accordion__arrow
                        svg(class="icon icon-arrow")
                          use(xlink:href="#icon-arrow")
                    .accordion__body
                      .accordion__wrapper.js-accordion-content
                        .accordion__content
                          .options-section__text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                             deleniti ducimus incidunt itaque quisquam unde, voluptas. Aperiam
              .options__button
                a(href="#").button.button--primary.button--fluid.button--md 499€/h for consultation
    .options-section__clients
      .container
        .clients
          .clients__banner
            picture
              source(srcset=require('../../images/clients-section-decor.webp') type="image/webp")
              img(src=require('../../images/clients-section-decor.png') alt="decor").clients__decor
            .clients__count 1,000+
            .clients__subtitle Over the past year we helped experts to find a new job
          .clients__title
            h3.title Clients’ success
              .title__icon
                include ../../images/svg/star-2.svg
          .clients__slider
            .slider.slider--pagination.slider--arrows
              .swiper
                .swiper-wrapper
                  .swiper-slide
                    .client
                      .client__header
                        .client__avatar
                          img(src="https://i.pravatar.cc/196").img
                        .client__name
                          p Name
                          p Surname
                      p.client__text.
                        Competenz Lab test and several consultations with a coach helped me enter
                         the IT industry and become a QA engineer after working as a builder
                         for all my life. I still can’t believe it!
                      .client__footer
                        .client__button Builder
                        include ../../images/svg/right-arrow.svg
                        .client__button.client__button--fill QA engineer
                  .swiper-slide
                    .client
                      .client__header
                        .client__avatar
                          img(src="https://i.pravatar.cc/196").img
                        .client__name
                          p Name
                          p Surname
                      p.client__text.
                        Competenz Lab test and several consultations with a coach helped me enter
                         the IT industry and become a QA engineer after working as a builder
                         for all my life. I still can’t believe it!

                  .swiper-slide
                    .client
                      .client__header
                        .client__avatar
                          img(src="https://i.pravatar.cc/196").img
                        .client__name
                          p Name
                          p Surname
                      p.client__text.
                        Competenz Lab test and several consultations with a coach helped me enter
                         the IT industry and become a QA engineer after working as a builder
                         for all my life. I still can’t believe it!
                      .client__footer
                        .client__button Builder
                        include ../../images/svg/right-arrow.svg
                        .client__button.client__button--fill QA engineer
                  .swiper-slide
                    .client
                      .client__header
                        .client__avatar
                          img(src="https://i.pravatar.cc/196").img
                        .client__name
                          p Name
                          p Surname
                      p.client__text.
                        Competenz Lab test and several consultations with a coach helped me enter
                         the IT industry and become a QA engineer after working as a builder
                         for all my life. I still can’t believe it!
                      .client__footer
                        .client__button Builder
                        include ../../images/svg/right-arrow.svg
                        .client__button.client__button--fill QA engineer
                  .swiper-slide
                    .client
                      .client__header
                        .client__avatar
                          img(src="https://i.pravatar.cc/196").img
                        .client__name
                          p Name
                          p Surname
                      p.client__text.
                        Competenz Lab test and several consultations with a coach helped me enter
                         the IT industry and become a QA engineer after working as a builder
                         for all my life. I still can’t believe it!
                      .client__footer
                        .client__button Builder
                        include ../../images/svg/right-arrow.svg
                        .client__button.client__button--fill QA engineer
              .swiper-pagination
              .swiper-button-prev
              .swiper-button-next



