section.section
  .container
    .partners-section
      .partners-section__title
        h3.title partners
          .title__icon
            include ../../images/svg/star-7.svg
      .partners-section__body
        p.partners-section__subtitle.
          We are collaborating with 100+ global companies
          to help employers and job seekers find each other.
        .partners-section__grid
          .partners-section__link.js-on-scroll-animation.default-animation.animation-delay-1
            include ../../images/svg/atlassian.svg
          .partners-section__link.js-on-scroll-animation.default-animation.animation-delay-2
            include ../../images/svg/miro.svg
          .partners-section__link.js-on-scroll-animation.default-animation.animation-delay-3
            include ../../images/svg/rto.svg
          .partners-section__link.js-on-scroll-animation.default-animation.animation-delay-1
            include ../../images/svg/favbet.svg
          .partners-section__link.js-on-scroll-animation.default-animation.animation-delay-2
            include ../../images/svg/millie.svg
          .partners-section__link.js-on-scroll-animation.default-animation.animation-delay-3
            include ../../images/svg/n26.svg
        p.partners-section__text.
          If you can't find an answer here, please reach out to us at
          <br><a href="mailto:support@competenzlab.io"><b>support@competenzlab.io</b></a>
