section.section.possibility-section
  .container
    .possibility-section__body
      picture
        source(srcset=require('../../images/pos.webp') type="image/webp")
        img(src=require('../../images/pos.png') alt="decor").possibility-section__decor
      .possibility-section__content
        h2.title what you will get with competenz lab
          .title__icon
            include ../../images/svg/star.svg

        .possibility-section__grid
          .possibility-section__item.js-on-scroll-animation.default-animation
            p.possibility-section__title monetize your <br>knowledge and skills
          .possibility-section__item.js-on-scroll-animation.default-animation
            p.possibility-section__title Make a difference <br>with your skills
          .possibility-section__item.js-on-scroll-animation.default-animation
            p.possibility-section__title Work from <br>anywhere
          .possibility-section__item.js-on-scroll-animation.default-animation
            p.possibility-section__title Build your <br>personal brand
