section.section.possibility-section
  .container
    .possibility-section__body
      picture
        source(srcset=require('../../images/pos.webp') type="image/webp")
        img(src=require('../../images/pos.png') alt="decor").possibility-section__decor
      .possibility-section__content
        h2.title what you will get with competenz lab
          .title__icon
            include ../../images/svg/star.svg

        .possibility-section__grid
          .possibility-section__item
            .tip
              .tip__icon
                include ../../images/svg/star-pink.svg
              | free
            p.possibility-section__title Get the visualized report
            ul.possibility-section__list
              li.possibility-section__text You will get the PDF file with the set  of your skills and career matches
              li.possibility-section__text You will get the PDF file with the set  of your skills and career matches
            a(href="#").possibility-section__link See the report example
          .possibility-section__item
            .tip
              .tip__icon
                include ../../images/svg/star-pink.svg
              | free
            p.possibility-section__title Approach to getting the new professions
            ul.possibility-section__list
              li.possibility-section__text Get 3 new careers that match your  skills and knowledge
          .possibility-section__item
            .tip
            p.possibility-section__title get list of courses from popular online platforms
            ul.possibility-section__list
              li.possibility-section__text Get a list of suitable courses that can help you to change your current position.
          .possibility-section__item
            .tip
              .tip__icon
                include ../../images/svg/star-pink.svg
              | in progress
            p.possibility-section__title personal development plan
