@use '../config' as *;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  @include smooth-font;
  @include make-spacer(mx, auto);
  @include make-spacer(my, 0);
  @include flex(flex-start, $direction: column);

  background-color: var(--black);
  min-width: 375px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: var(--line-height);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: var(--regular);
  font-feature-settings: 'pnum' on, 'lnum' on;
  scroll-behavior: smooth;

  &.is-overflow-hidden {
    overflow: hidden;
  }
}

button {
  @include reset-button;
}

ul {
  @include reset-list;
}

a {
  text-decoration: none;
}
