@use '../config' as *;

* {
  box-sizing: border-box;
}

body {
  @include smooth-font;
  @include make-spacer(mx, auto);
  @include make-spacer(my, 0);
  @include flex(flex-start, $direction: column);

  background-color: var(--white);
  min-width: rem(375px);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: var(--line-height);
  color: var(--black);
  font-family: var(--font-family);
  font-weight: var(--regular);
  font-feature-settings: 'pnum' on, 'lnum' on;
  scroll-behavior: smooth;
}

.main-content {
  display: block;
  margin-bottom: auto;
  min-width: 0;
}

.is-overflow-hidden {
  overflow: hidden;
}

//
// Headings
//

button {
  @include reset-button;
}

ul {
  @include reset-list;
}
