@use '../config' as *;

* {
  box-sizing: border-box;
}

body {
  @include smooth-font;
  @include make-spacer(mx, auto);
  @include make-spacer(my, 0);
  @include flex(flex-start, $direction: column);

  background-color: var(--black);
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: var(--line-height);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: var(--regular);
  font-feature-settings: 'pnum' on, 'lnum' on;
  scroll-behavior: smooth;

  &.is-overflow-hidden {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
}

//
// Headings
//

button {
  @include reset-button;
}

ul {
  @include reset-list;
}

.u-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;

  @include media-breakpoint-up(md) {
    font-size: 25px;
  }
}
