.icon-phone {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-site {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
