.icon-arrow {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-circle {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
