header#header.header.is-transparent
  .container.container--md
    .header__container
      .header__trigger
        button(class="hamburger hamburger--slider header__hamburger js-menu-toggle", type="button", id="hamburger")
          span(class="hamburger-box")
            span(class="hamburger-inner")


      a(href="/").header__logo
        include ../../images/svg/logo.svg

      nav.header__nav
        .header__menu
          a(href="#").header__link Products
          ul.dropdown-list.header__dropdown
            li.dropdown-list__item
              a.dropdown-list__link(href="#") Work for migrants
            li.dropdown-list__item
              a.dropdown-list__link(href="#") Competenzlab.io
        .header__menu
          a(href="/").header__link For partners


      a.header__button.button.button--default.button--fluid(href="#") Sign in

