.line.line--dark
  .line__wrapper
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
