.line
  .line__wrapper
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
