.line
  .line__wrapper.js-line-wrapper
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
    include ../../images/svg/wave-orange.svg
    include ../../images/svg/peruka-orange.svg
