.line.line--dark
  .line__wrapper.js-line-wrapper
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
    include ../../images/svg/wave-blue.svg
    include ../../images/svg/peruka-blue.svg
