:root {
  --white: #fff;
  --black: #000;
  --gray: #cdcccd;
  --gray-100: #e5e5e5;
  --gray-200: #bebebe;
  --gray-400: #767676;
  --pink: #ce64c7;
  --pink-light: #c36cf5;
  --pink-03: rgba(186, 75, 179, 0.3);
  --purple: #674bda;
  --purple-dark: #5739d1;
  --purple-light: #8268ed;
  --gradient: linear-gradient(169deg, rgba(177,79,212,1) 19%, rgba(135,76,236,1) 61%, rgba(41,174,219,1) 100%);
  --gradient-1: linear-gradient(-160deg, rgba(177,79,212,1) 19%, rgba(135,76,236,1) 61%, rgba(41,174,219,1) 100%);
}
