@use '../../abstract/helpers/index' as *;

:root {
  --header-height: #{rem(106px)};
  --container-width: #{rem(1120px)};

  @include media-breakpoint-down(md) {
    --header-height: #{rem(82px)};
  }

  @include media-breakpoint-down(lg) {
    --container-width: 100%;
  }
}
