@use '../../abstract/helpers/index' as *;

:root {
  --header-height: 121px;
  --container-width: 100%;

  @include media-breakpoint-up(sm) {
    --container-width: 1075px;
  }

  @include media-breakpoint-up(lg) {
    --header-height: 149px;
  }
}
