@use '../../abstract/variables/index' as *;

:root {
  --font-family: #{$regular-fonts-list};
  --regular: #{$fw-base};
  --medium: #{$fw-medium};
  --bold: #{$fw-bold};
  --font-size: #{$fs-base};
  --line-height: #{$lh-base};
}
