@use '../../abstract/variables/index' as *;

:root {
  --font-family: #{$regular-fonts-list};
  --headings-font-family: #{$regular-fonts-list};
  --regular-font: #{$regular-font};
  --light: #{$fw-light};
  --regular: #{$fw-base};
  --bold: #{$fw-headings};
  --font-size: #{$fs-base};
  --line-height: #{$lh-base};
  --headings-line-height: #{$lh-headings};
}
