meta(charset="utf-8")

title= 'Techiia Design Lab'

meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#100d14")
meta(name="format-detection" content="telephone=no")

meta(property="og:title" content="Design studio that creates flexible and dynamic brand identities for businesses")
meta(property="og:description" content="Techiia Design Lab")
meta(property="og:image" content="./assets/OG.jpeg")
meta(property="og:image:type" content="image/jpeg")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")

meta(name="description" content="Design studio that creates flexible and dynamic brand identities for businesses")
meta(name="keywords" content="Techiia Design Lab, Techiia")
link(rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png")
