include ../mixins/all

doctype html
html(lang="ru")
  head
    include _head
  body
    .u-hidden
      include ../sprite/sprite.svg
    block header
    block content
    include ../components/footer

    .mobile-navigation#mobile-navigation
      .mobile-navigation__content
        ul.mobile-navigation__nav
          li.mobile-navigation__item
            a(href="#").mobile-navigation__link Products
            ul.mobile-navigation__sublist
              li.mobile-navigation__subitem
                a(href="#").mobile-navigation__sublink Work for migrants
              li.mobile-navigation__subitem
                a(href="#").mobile-navigation__sublink Competenzlab.io
          li.mobile-navigation__item
            a(href="#").mobile-navigation__link For partners


