include ../mixins/all

doctype html
html
  head
    include _head

  body
    include ../partials/_header
    .u-hidden
      include ../sprite/sprite.svg

    block content

    include ../partials/_mobile-navigation
    include ../partials/_footer
