include ../mixins/all

-
  var users = [
    {
      "title": "WePlay Esports Business Contact",
      "name": "Valentyn Shevchenko",
      "position": "Head of Business Development Department"
    },
    {
      "title": "Esports Event Marketing Department",
      "name": "Iryna Chugai",
      "position": "Head of Tournament Marketing Department"
    }
  ];

doctype html
html(lang="ru")
  head
    include _head

  body
    .u-hidden
      include ../sprite/sprite.svg
    block content
    footer(style="background-color: #010E28; height: 467px")
