@use '../config' as *;

:root {
  --container-width: #{rem(1048px)};
  --container-width-md: #{rem(1260px)};
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    padding: 0 rem(24px);
  }

  @include media-breakpoint-down(xs) {
    padding: 0 rem(16px);
  }

  &--md {
    max-width: var(--container-width-md);
  }
}
