@use '../config' as *;

.container {
  width: 100%;
  max-width: rem(1048px);
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    padding: 0 rem(24px);
  }

  @include media-breakpoint-down(xs) {
    padding: 0 rem(16px);
  }

  &--md {
    max-width: rem(1260px);
  }
}
