extends pug/layouts/_layout

block content
  main
    .container
      .container-columns
        .container-columns__wrap
          .container-columns__content
            p.h1.container-columns__title 404 PAGE
            p.container-columns__text Text error message
            a(href="/" class="container-columns__link") Перейти на Главную страницу »
