extends pug/layouts/_layout

block content
  main
    .container
      .top-banner
        picture
          source(srcset=require("./images/top.webp") type="image/webp")
          img(src=require("./images/top.png") alt="hero picture").u-img-responsive

      include ./pug/includes/hero-section

      h1 великая страна с мощной экономикой
      p война на украине
      include ./images/svg/site.svg
      include ./images/svg/phone.svg
