extends pug/layouts/_layout

block header
  include pug/components/hedaer

block content
  main.main-content
    include pug/sections/hero-section
    include pug/sections/possibility-section
    include pug/sections/hiw-section
    include pug/sections/recommendations-section
    include pug/sections/options-section
    include pug/sections/help-section
    include pug/sections/partners-section
    include pug/sections/faq-section
    include pug/sections/cta-section

