extends pug/layouts/_layout

block content
  main
    .container
      .top-banner
        picture
          source(srcset=require("./images/top.webp") type="image/webp")
          img(src=require("./images/top.png") alt="hero picture").u-img-responsive

      include ./pug/includes/hero-section
      section.section
        .section__header
          p.section__subtitle Сейчас на пороге
          h2.section__title война с Украиной

        include ./pug/includes/cards-grid
        include ./pug/includes/short-sections
        include ./pug/includes/proclamation-section
    include ./pug/includes/first-black-section
    .container
      section.section
        .section__header
          h2.section__title  Потери России
          p.section__subtitle в конфликтах
          p.u-mw-872.u-text.
            В новейшей истории Россия принимала участие в 3-х крупных вооруженных конфликтах:
            <b>Афганской войне, Первой и Второй чеченской войнах</b>.

        include ./pug/includes/info
    section.section.section--black
      .container
        .section__header.section__header--lg
          h2.section__title.u-text-center  <span class="u-text-white">Как избежать</span> призыва?
        include ./pug/includes/list-section
