extends pug/layouts/_layout

block content
  main
    .container
      .slider
        .swiper-button-prev.
          prev
        .swiper-button-next.
          next
        .swiper
          .swiper-wrapper
            .swiper-slide
              include ./images/svg/site.svg
            .swiper-slide
              include ./images/svg/phone.svg
            .swiper-slide
              include ./images/svg/site.svg
            .swiper-slide
              include ./images/svg/phone.svg

