extends pug/layouts/_layout

block content
  main.main-content
    include pug/sections/hero-section
    include pug/sections/possibility-section
    include pug/sections/hiw-section
    include pug/sections/recommendations-section
    include pug/sections/options-section

