extends pug/layouts/_layout

block content
  main
    section.hero-section
      img.hero-section__image(src="./images/bg.jpeg" alt="")
      h1.hero-section__title Alleviating human hardship brought about by the war in Ukraine
    .container

      a.button(href="#") button

      h1 великая страна с мощной экономикой
      p война на украине
      include ./images/svg/site.svg
      include ./images/svg/phone.svg
