extends pug/layouts/_layout

block content
  main
    .container
      .container-columns
        .container-columns__wrap
          .container-columns__content
            p.h1.container-columns__title User
            p.container-columns__text Text
            a(href="/" class="container-columns__link") Перейти на Главную страницу »
